.apps {
    &__title {
        max-width: 550px;
    }
    &__content {
        justify-content: space-around;
        align-items: flex-start;
        &:before,
        &:after {
            display: block;
            content: '';
            border-radius: 8px;
            box-shadow: 4px 7px 21px 3px rgba(0, 0, 0, 0.15);
        }
        &::before {
            border-radius: 15px;
            margin-top: 80px;
            width: 154px;
            height: 168px;
            background-image: url('./../img/app1.svg');
        }
        &::after {
            width: 218px;
            height: 145px;
            margin-top: 120px;
            background-image: url('./../img/app2.svg');
        }
    }
}