.order {
    background: url('./../img/app-bg.png') no-repeat 70% 0, linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
    padding-top: 30px;
    padding-bottom: 60px;
    color: #fff;
    &__wrapper {
        @include wrapper;
    }
    &__title {
        max-width: 513px;
        @include fsz(24px,
        24px,
        18px);
    }
    &__text {
        max-width: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
        @include fsz(18px,
        18px,
        14px);
    }
    &__btn {
        width: 218px;
        height: 52px;
        color: $dark-text;
        background-color: #fff;
        border: none;
        &:after {
            background-color: $dark-text;
            background-image: url('./../img/arrow.svg');
        }
    }
}

@media screen and (max-width:1100px) {
    .order {
        background: url('./../img/app-bg.png') no-repeat 90% 0, linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
    }
}

@media screen and (max-width:991px) {
    .order {
        background: url('./../img/app-bg.png') no-repeat 90% 0, linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
        &__title {
            max-width: 380px;
        }
        &__text {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width:610px) {
    .order {
        background: linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
        &__wrapper {
            background-image: url('./../img/app-bg.png');
            background-repeat: no-repeat;
            background-position: center 80px;
            background-size: auto 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__title {
            max-width: 380px;
        }
        &__text {
            margin-top: 300px;
            margin-bottom: 10px;
        }
    }
}