.btn {
    background-color: $main-color;
    color: white;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    width: 210px;
    padding: 20px 0 20px 0;
    border-radius: 3px;
    text-align: center;
    border: 3px solid $main-color;

    &:hover {
        background-color: white;
        color: $main-color;
    }

    &--empty { 
        background-color: white;
        color: $main-color;

        &:hover {
            color: white;
            background-color: $main-color;
        }
    }
}