@mixin btn {
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    border: 2px solid $hover;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $hover;
    background-color: #fff;
    &::after {
        display: block;
        content: "";
        border-radius: 50%;
        background-color: $hover;
        height: 30px;
        width: 30px;
        background-image: url('./../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: left 0 center;
        transition: .3s;
    }
    &:hover {
        &::after {
            transition: .3s;
            background-position: right center;
        }
    }
}

@mixin btn--hover {
    color: #fff;
    background-color: $hover;
    &:hover {
        color: #fff;
    }
    &::after {
        display: block;
        content: "";
        border-radius: 50%;
        background-color: #fff;
        height: 30px;
        width: 30px;
        background-image: url('./../img/arrow-hover.svg');
        background-repeat: no-repeat;
        background-position: left 0 center;
    }
}

@mixin btn--noborder {
    border: none;
}

@mixin btn--down {
    &::after {
        transition: .3s;
        transform: rotate(90deg);
    }
    &:hover {
        color: #fff;
        &::after {
            transition: .3s;
            background-position: right center;
        }
    }
}

.btn {
    @include btn;
    /*&--hover,
    &--active,
    &:hover,
    &:active {
        @include btn--hover;
    }*/
    &--hover {
        @include btn--hover;
        /*&:hover,
        &:active {
            @include btn;
        }*/
    }
    &--noborder {
        @include btn--noborder;
    }
    &--down {
        @include btn--down;
    }
}

.spa__btn,
.products .btn {
    @include btn;
    transition: .3s;
    &:hover {
        @include btn--hover;
        transition: .3s;
        &::after {
            background-position: left center;
        }
    }
}

@media screen and (max-width:991px) {
    .spa__btn,
    .products .btn {
        @include btn--hover;
    }
}

.services .order__btn {
    transition: .3s;
    &:hover {
        transition: .3s;
        color: #fff;
        background: #152238;
        &::after {
            background-position: left center;
            background-color: #fff;
            background-image: url('./../img/error-arrow.svg');
        }
    }
}