.contacts {
    padding-top: 70px;
    padding-bottom: 70px;
    &__wrapper {
        @include wrapper;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "head soc mail form" "adr soc mail form";
    }
    &__headline {
        grid-area: head;
    }
    &__subtitle {
        @include section-name;
        margin-bottom: 43px;
    }
    &__title {
        font-weight: bold;
        font-size: 35px;
        line-height: 126.5%;
    }
    &__address {
        grid-area: adr;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
    }
    &__soc {
        grid-area: soc;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
    }
    &__soc-item {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $dark-text;
        padding-left: 40px;
        position: relative;
        margin-bottom: 30px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #fff;
            left: 0;
            top: 0;
        }
        &--tg:before {
            background-image: url('./../img/footer-tg.svg');
        }
        &--whatsapp:before {
            background-image: url('./../img/footer-wa.svg');
        }
        &--fb:before {
            background-image: url('./../img/footer-fb.svg');
        }
    }
    &__mail {
        grid-area: mail;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__tel {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $dark-text;
    }
    &__email {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $dark-text;
    }
    &__form {
        grid-area: form;
        padding: 35px 57px;
        width: 353px;
        height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #F6F6F6;
        box-shadow: 4px 7px 21px 3px rgba(0, 0, 0, 0.24);
        border-radius: 10px;
    }
    &__input {
        width: 100%;
        display: block;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(25, 26, 30, 0.5);
        padding-bottom: 5px;
        &::placeholder {
            opacity: 0.3;
            color: $hover;
            font-weight: bold;
            font-size: 14px;
        }
        &:focus {
            border-bottom: 1px solid #191A1E;
            outline: none;
            &::placeholder {
                opacity: 1;
            }
        }
    }
    &__btn {
        @include btn--hover;
        margin-left: auto;
        width: 170px;
        height: 52px;
    }
}

@media screen and (max-width:991px) {
    .contacts {
        padding-top: 30px;
        &__wrapper {
            grid-template-columns: 1fr 1fr 2fr;
            grid-template-rows: auto;
            grid-template-areas: "head head form" "soc mail form" "adr adr form";
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__form {
            margin-top: 40px;
            height: 304px;
        }
        &__soc {
            padding-top: 0;
            margin-top: 30px;
        }
        &__mail {
            margin-top: 30px;
            justify-content: start;
        }
        &__tel {
            margin-bottom: 14px;
        }
        &__btn {
            margin-right: auto;
        }
    }
}

@media screen and (max-width:650px) {
    .contacts {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-areas: "head" "mail" "soc" "form" "adr";
        }
        &__headline {
            position: relative;
            padding-top: 60px;
        }
        &__subtitle {
            position: absolute;
            top: 10px;
            width: 100%;
            font-size: 16px;
        }
        &__title {
            font-weight: bold;
            font-size: 25px;
        }
        &__soc {
            padding-top: 65px;
            margin-top: 0;
            flex-direction: row;
            margin-right: 0;
            & li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__soc-item {
            font-size: 0;
            padding-left: 0;
            margin-right: 0;
        }
        &__mail {
            margin-top: 20px;
            & a {
                text-align: center;
            }
        }
        &__form {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 55px;
        }
        &__address {
            text-align: center;
        }
    }
}

@media screen and (max-width:350px) {
    .contacts {
        padding-top: 24px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-areas: "head" "mail" "soc" "form" "adr";
        }
        &__soc {
            margin-left: auto;
            margin-right: auto;
        }
        &__mail {
            margin-left: auto;
            margin-right: auto;
        }
        &__headline {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }
}