.header {
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 16px 27px rgba(25, 26, 30, 0.06);
    background-color: #fff;
    /*&--sticky {
        position: sticky;
        transition: .5s;
        & .header__container {
            margin-left: 0;
            flex-basis: 75%;
        }
        & .header__right {
            margin-left: auto;
        }
        & .header__link {
            margin-right: 35px;
        }
    }*/
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include wrapper;
    }
    &__more {
        order: 1;
        &:hover {
            & .header__logo:after {
                transition: .5s;
                transform: rotate(180deg);
            }
            & .more {
                transition: .5s;
                opacity: 1;
                height: auto;
                padding: 10px 40px 20px 7px;
            }
        }
    }
    &__logo {
        position: relative;
        transition: .5s;
        &:after {
            transition: .5s;
            content: '';
            width: 15px;
            height: 9px;
            background-image: url('./../img/header-expand.svg');
            position: absolute;
            top: 10px;
            margin-left: 12px;
        }
    }
    &__btn {
        margin-top: 2px;
        &:before,
        &:after {
            display: block;
            content: "";
            width: 27px;
            height: 4px;
            border-radius: 5px;
            background: #152238;
            margin-bottom: 4px;
        }
        &:after {
            background: $hover;
        }
        &:active,
        &:focus {
            outline: none;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
    }
    &__item {
        height: 100%;
        &--mobile {
            display: none;
        }
    }
    &__link {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #191A1E;
        opacity: 0.5;
        margin-right: 30px;
        position: relative;
        transition: .5s;
        &:after {
            display: block;
            content: '';
            position: absolute;
            height: 2px;
            width: 0;
            background-color: $hover;
            transition: .5s;
        }
        &--active,
        &:active,
        &:hover {
            color: $hover;
            opacity: 1;
        }
        &--active:after,
        &:active:after,
        &:hover:after {
            width: 50%;
        }
    }
    &__address {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__map {
        position: absolute;
        top: 40px;
        display: none;
        &--opened {
            display: block;
        }
    }
    &__contact {
        color: $dark-text;
        transition: .5s;
        position: relative;
        padding-left: 40px;
        font-weight: 600;
        font-size: 16px;
        &--email {
            margin-left: 20px;
            text-decoration-line: underline;
            display: none;
            &::before {
                display: none !important;
            }
        }
        &--phone {
            margin-left: 20px;
        }
        &:hover {
            color: $hover;
        }
        &--address {
            position: relative;
            padding-right: 25px;
            /*&:after {
                content: '';
                display: block;
                position: absolute;
                top: 7px;
                right: 0;
                width: 15px;
                height: 9px;
                background-image: url('./../img/header-expand.svg');
                background-repeat: no-repeat;
                background-size: contain;
                opacity: .5;
                transition: .5s;
            }*/
            &:before {
                position: absolute;
                left: 0;
            }
            &:hover,
            &--opened {
                color: $dark-text;
                cursor: pointer;
                &:after {
                    transform: rotate(180deg);
                    opacity: 1;
                }
            }
        }
        &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(243, 110, 15, 0.4);
            background-repeat: no-repeat;
            background-position: center;
        }
        &--address::before {
            background-image: url('./../img/header-map.svg');
        }
        &--phone::before {
            background-image: url('./../img/header-phone.svg');
        }
    }
    &__container {
        order: 2;
        display: flex;
        justify-content: space-between;
        height: 50px;
        display: flex;
        align-items: center;
        & .header__contact {
            display: none;
        }
    }
    &__item {
        position: relative;
    }
    &__subheader {
        height: 50px;
        display: flex;
        align-items: center;
        &:hover .header__submenu {
            transition: .5s;
            opacity: 1;
            height: auto;
            padding: 14px 8px 15px 8px;
        }
        &:hover .header__link {
            opacity: 1;
            color: $hover;
            &:after {
                width: 50%;
            }
        }
        &:after {
            bottom: 12px;
        }
    }
    &__submenu {
        opacity: 0;
        height: 0;
        background-color: #fff;
        box-shadow: -6px 9px 19px -4px rgba(0, 0, 0, 0.19);
        border-radius: 0px 0px 5px 5px;
        top: 45px;
        position: absolute;
        padding: 0;
        width: 200px;
        transition: .5s;
        overflow: hidden;
        box-sizing: border-box;
        &--main {
            display: none;
            opacity: 1;
            height: auto;
            right: 0;
            top: 35px;
            text-align: right;
            width: 180px;
            padding: 10px;
            &--opened {
                display: block;
            }
        }
        &:hover {
            opacity: 1;
            pointer-events: all;
        }
    }
    &__sublink {
        color: $dark-text;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-top: 13px;
        &--active,
        &:active,
        &:hover {
            color: $hover;
        }
    }
    &__soc {
        display: none;
    }
    &__right {
        order: 4;
        position: relative;
        display: flex;
        align-items: center;
    }
    &__contacts--mobile {
        order: 3;
        display: flex;
        margin-right: 50px;
    }
}

.more {
    width: 250px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: .5s;
    position: absolute;
    top: 50px;
    background-color: #fff;
    box-shadow: 10px 9px 19px -4px rgba(0, 0, 0, .19);
    border-radius: 0px 0px 10px 10px;
    padding-top: 0;
    padding-bottom: 0;
    &:hover {
        opacity: 1;
        height: auto;
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
        opacity: .6;
        &:hover,
        &:active {
            opacity: 1;
        }
    }
    &__link {
        color: $hover;
    }
}

.map {
    font-size: 14px;
    padding: 10px;
    padding-top: 0;
    background: #fff;
    box-shadow: 4px 7px 21px 3px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    &__close {
        width: 7px;
        height: 7px;
        padding: 0;
        background-image: url('./../img/map-close.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: calc(100% - 7px);
        margin-bottom: 10px;
    }
    &__descr {
        padding-top: 10px;
        padding-left: 25px;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 10px;
            top: 18px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $hover;
        }
    }
}

#map {
    width: 245px;
    height: 112px;
}

@media screen and (max-width: 1440px) {
    .header {
        &__link {
            margin-right: 20px;
        }
        &__contact {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .header {
        &__wrapper {
            justify-content: space-between;
        }
        &__container {
            flex-grow: 1;
            margin-left: 45px;
            margin-right: 20px;
        }
        &__link {
            margin-right: 5px;
            font-size: 14px;
        }
        &__contact {
            margin-left: 5px;
            font-size: 14px;
        }
        &__contacts {
            &--mobile {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header {
        /*padding-top: 30px;
        box-shadow: none;*/
        &__btn {
            display: block;
            transition: 1s;
            &--opened:before {
                opacity: 0;
                position: absolute;
                top: 50%;
                transform: translateY(50%);
                transition: 1s;
            }
            &--opened:after {
                transition: 1s;
                position: relative;
                top: 50%;
                transform: translateY(50%);
            }
        }
        &__logo:after {
            display: none;
        }
        &__container {
            height: 0;
            position: absolute;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 50px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            width: 100%;
            background-color: #fff;
            opacity: 1;
            transition: 1s;
            margin-left: 0;
            margin-right: 0;
            &--opened {
                transition: 1s;
                height: calc(100vh - 50px);
            }
            & .header__contact {
                display: block;
            }
        }
        &__nav {
            margin-top: 80px;
            flex-direction: column;
            align-items: center;
            margin-right: 0;
        }
        &__item--mobile {
            display: block;
        }
        &__link {
            margin-right: 0;
            margin-bottom: 19px;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $dark-text;
            opacity: 1;
        }
        &__contact {
            margin-left: 0;
            padding-left: 0;
            &--address {
                display: none;
            }
            &--email {
                margin-top: auto;
                margin-bottom: 15px;
                display: block;
            }
            &--phone {
                margin-bottom: auto;
            }
            &:before {
                display: none;
            }
        }
        &__soc {
            display: flex;
            width: 150px;
            justify-content: space-between;
            margin-bottom: 60px;
            margin-top: 50px;
        }
        &__soclink {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-image: url('./../img/telegram.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &--wa {
                background-image: url('./../img/whatsapp.svg');
            }
            &--fb {
                background-image: url('./../img/facebook.svg');
            }
        }
        &__contacts--mobile {
            display: flex;
            justify-content: space-between;
            width: 100px;
            margin-right: 50px;
            margin-left: auto;
            & .header__contact {
                font-size: 0;
                &--address {
                    display: block;
                    &:before {
                        display: block;
                    }
                    &:after {
                        display: none;
                    }
                }
                &:before {
                    position: relative;
                    display: block;
                }
            }
        }
        &__map {
            left: -100px;
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        &__contacts--mobile {
            display: flex;
            justify-content: space-between;
            width: 80px;
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 370px) {
    .header {
        &__contacts--mobile {
            display: none;
        }
    }
}

@keyframes openmenu {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}