.promo {
    padding-bottom: 180px;
    &__wrapper {
        @include wrapper;
        display: grid;
        grid-template-columns: 55px 64fr 70fr;
        grid-template-rows: 190px 1fr;
        grid-row-gap: 40px;
        grid-template-areas: "soc promo works" "soc btn works";
    }
    &__soc {
        padding-top: 122px;
        grid-area: soc;
    }
    &__content {
        grid-area: promo;
    }
    &__btn {
        grid-area: btn;
    }
    &__works {
        grid-area: works;
    }
    &__subtext {
        color: #979696;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 135%;
        &--colored {
            color: $hover;
            text-decoration: underline;
            display: inline-block;
        }
    }
    &__subtitle {
        padding-left: 15px;
        position: relative;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        &:before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $hover;
        }
    }
    &__button {
        &--works {
            border: none;
            margin-left: auto;
            width: 180px;
        }
    }
    &__soclink {
        display: block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-bottom: 25px;
        &--tg {
            background-image: url('./../img/telegram.svg');
        }
        &--whatsapp {
            background-image: url('./../img/whatsapp.svg');
        }
        &--fb {
            background-image: url('./../img/facebook.svg');
        }
    }
}

@media screen and (max-width: 991px) {
    .promo {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-row-gap: 0;
            grid-template-areas: "promo" "works" "btn" "soc";
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-bottom: 40px;
        }
        &__works {
            margin-left: 120px;
        }
        &__btn {
            margin-top: 75px;
            display: flex;
            justify-content: center;
        }
        &__soc {
            padding-top: 47px;
            display: flex;
            width: 135px;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }
    }
}