.promo {
    padding-bottom: 180px;
    padding-top: 150px;
    &__wrapper {
        @include wrapper;
        display: grid;
        grid-template-columns: 55px 64fr 70fr;
        grid-template-rows: 190px 1fr;
        grid-row-gap: 40px;
        grid-template-areas: "soc promo works" "soc btn works";
    }
    &__soc {
        padding-top: 122px;
        grid-area: soc;
    }
    &__content {
        grid-area: promo;
    }
    &__btn {
        grid-area: btn;
    }
    &__works {
        grid-area: works;
    }
    &__subtext {
        color: #979696;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 65px;
        position: relative;
        &--colored {
            color: $hover;
            text-decoration: underline;
            display: inline-block;
            animation-name: change;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
    }
    &__container {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        height: 65px;
        margin-bottom: 25px;
    }
    &__item {
        padding-bottom: 10px;
    }
    &__subtitle {
        padding-left: 15px;
        position: relative;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 25px;
        &:before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $hover;
        }
    }
    &__button {
        height: 56px;
        width: 225px;
        &--works {
            border: none;
            margin-left: auto;
            width: 180px;
        }
    }
    &__soclink {
        display: block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-bottom: 25px;
        &--tg {
            background-image: url('./../img/telegram.svg');
        }
        &--whatsapp {
            background-image: url('./../img/whatsapp.svg');
        }
        &--fb {
            background-image: url('./../img/facebook.svg');
        }
    }
    &__pics {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    &__img {
        max-width: 100%;
        &--main {
            z-index: 2;
        }
        &--second {
            position: absolute;
            right: 0;
        }
    }
    &__lastwork {
        width: 400px;
        height: 250px;
        background: linear-gradient(180deg, rgba(24, 78, 118, 0) 50.22%, #184E76 81%, #184E76 81%), url('./../img/work-last.jpg');
        padding: 17px 22px 22px 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
    }
    &__type {
        font-weight: 600;
        @include fsz(16pz,
        16pz,
        14px);
    }
    &__name {
        @include fsz(16pz,
        16pz,
        14px);
        font-weight: 600;
        line-height: 20px;
        color: #fff;
    }
}

@media screen and (max-width: 1100px) {
    .promo {
        padding-top: 100px;
        padding-bottom: 64px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-row-gap: 0;
            grid-template-areas: "promo" "works" "btn" "soc";
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-bottom: 40px;
        }
        &__title {
            /*text-align: left;*/
            &--colored {
                width: fit-content;
            }
            &--first {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__container {
            width: fit-content;
            text-align: left;
            position: relative;
            margin-left: -15px;
            margin-bottom: -10px;
        }
        &__works {
            margin-left: 150px;
            margin-right: 150px;
        }
        &__btn {
            margin-top: 65px;
            display: flex;
            justify-content: center;
        }
        &__soc {
            padding-top: 47px;
            display: flex;
            width: 135px;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }
        &__img {
            &--second {
                opacity: .7;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .promo {
        &__works {
            margin-right: -5vw;
            margin-left: 80px;
        }
        &__button {
            @include btn--hover;
            &:hover {
                @include btn;
            }
            &--works {
                @include btn;
                @include btn--noborder;
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .promo {
        &__title {
            font-size: 34px;
            line-height: 46px;
        }
        &__container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            height: 46px;
            margin-bottom: 0;
            margin-top: -5px;
        }
        &__works {
            margin-left: 0;
            margin-right: -5vw;
        }
        &__button {
            &--works {
                margin-right: 5vw;
            }
        }
        &__img {
            &--main {
                max-width: 80%;
                margin-right: 50px;
            }
            &--second {
                max-width: 60%;
            }
        }
    }
}

@keyframes change {
    0%,
    20%,
    100% {
        transform: translate3d(0, 0, 0);
        width: 170px;
    }
    25%,
    45%,
    75%,
    95% {
        transform: translate3d(0, -33%, 0);
        width: 220px;
    }
    50%,
    70% {
        transform: translate3d(0, -66%, 0);
        width: 310px;
    }
}

@media screen and (max-width: 610px) {
    @keyframes change {
        0%,
        20%,
        100% {
            transform: translate3d(0, 0, 0);
            width: auto;
        }
        25%,
        45%,
        75%,
        95% {
            transform: translate3d(0, -33%, 0);
            width: auto;
        }
        50%,
        70% {
            transform: translate3d(0, -66%, 0);
            width: auto;
        }
    }
}