.projects {
    background: #152238;
    padding-bottom: 100px;
    padding-top: 100px;
    min-height: 720px;
    &__wrapper {
        @include side-wrapper;
        display: flex;
    }
    &__info {
        margin-right: 47px;
        width: 300px;
        flex-basis: 300px;
        flex-shrink: 0;
    }
    &__subtitle {
        margin-top: 30px;
        margin-bottom: 15px;
        @include section-name;
    }
    &__title {
        font-weight: bold;
        font-size: 35px;
        line-height: 135%;
        color: #FFFFFF;
        margin-bottom: 50px;
    }
    &__item {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 22px;
        &--active,
        &:hover,
        &:active {
            font-weight: 600;
            color: $hover;
            cursor: pointer;
        }
    }
    &__slider {
        display: flex;
        overflow-x: hidden;
        align-items: flex-end;
        padding-left: 20px;
        & .glide--dragging a:not([href]) {
            color: pink !important;
        }
    }
}

a:not([href]) {
    color: pink !important;
}

.proj {
    border-radius: 20px;
    width: 380px;
    height: 460px;
    padding: 24px 23px 36px 23px;
    transition: .5s;
    margin-right: 20px;
    z-index: 1;
    background: #152238;
    position: relative;
    &__slide--active~li .proj {
        box-shadow: 4px 7px 21px 3px rgba(0, 0, 0, 0.24);
    }
    &__slide--active {
        position: relative;
        z-index: 4 !important;
        &+li {
            z-index: 3 !important;
        }
    }
    &__slide--active .proj {
        padding-top: 34px;
        height: 480px;
        box-shadow: -1px 8px 30px 3px rgba(243, 110, 15, 0.22);
    }
    &__subtitle {
        color: #979696;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px;
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__img {
        box-sizing: border-box;
        border-radius: 19px;
        margin-bottom: 86px;
        max-width: 100%;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__svg {
        width: 30px;
        height: 20px;
        fill: #fff;
        transition: .5s;
    }
    &__link {
        color: rgba(255, 255, 255, .5);
        font-weight: bold;
        &:hover {
            color: $hover;
        }
    }
    &__slide--active .proj__svg {
        fill: $hover;
        transform: rotate(-45deg);
    }
    &__slide--active .proj__link {
        color: $hover;
    }
    &:last-child {
        margin-left: 30px !important;
    }
}

.glide__slides li {
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .projects {
        padding-top: 0;
        &__wrapper {
            flex-direction: column;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
        }
        &__subtitle {
            margin-top: 0;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__info {
            margin-top: 40px;
            margin-right: 0;
            width: 100%;
        }
        &__item {
            display: flex;
            align-items: center;
            height: 36px;
            padding: 0 8px;
            padding-bottom: 2px;
            border-radius: 21px;
            background-color: #fff;
            color: $hover;
            margin-right: 13px;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 540px) {
    .projects {
        &__slider {
            align-items: flex-end;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
        &__wrapper {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            max-width: none;
        }
        &__info {
            width: 96%;
            margin-left: 4%;
            flex-basis: auto;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__item {
            height: 30px;
            font-size: 16px;
        }
    }
    .proj {
        width: 290px;
        height: 300px;
        padding: 18px;
        opacity: .5;
        &__slide--active~li .proj {
            opacity: 0;
            transition: 3s !important;
        }
        &__slide--active+li .proj {
            transition: 4s !important;
            opacity: .5;
        }
        &__slide--active .proj,
        &:active,
        &:hover {
            opacity: 1;
            height: 315px;
            padding-top: 23px;
        }
        &__subtitle {
            margin-bottom: 16px;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__img {
            max-height: 136px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &:last-child {
            margin-left: 20px !important;
        }
    }
    .glide__slides {
        padding-left: 0;
    }
}

@media screen and (max-width: 410px) {
    .projects {
        &__item {
            margin-right: 4px;
            font-size: 14px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}