.features {
    padding-top: 40px;
    padding-bottom: 45px;
    background: linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
    color: #fff;
    &__wrapper {
        @include wrapper;
    }
    &__title {
        text-align: center;
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
    }
    &__item {
        width: 286px;
        height: 149px;
        position: relative;
        box-sizing: border-box;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
        background: #152238;
        box-shadow: 0px 4px 28px rgba(255, 255, 255, 0.11);
        border: 8px solid #152238;
        &::before {
            box-sizing: padding-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            top: 50%;
            left: -24px;
            transform: translateY(-50%);
            color: $dark-text;
            background-color: #fff;
            font-size: 24px;
        }
        &:nth-child(1)::before {
            content: '1.';
        }
        &:nth-child(2)::before {
            content: '2.';
        }
        &:nth-child(3)::before {
            content: '3.';
        }
    }
}

@media screen and (max-width: 991px) {
    .features {
        &__list {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
}