.promo {
    &__wrapper {
        position: relative;
        @include wrapper;
        display: flex;
        justify-content: space-between;
        padding-bottom: 120px;
        padding-top: 30px;
    }
    &__info {
        max-width: 560px;
    }
    &__title {
        @include fsz(40px, 34px, 24px);
        color: $hover;
        margin-bottom: 10px;
    }
    &__options {
        display: flex;
        justify-content: space-between;
        width: 380px;
    }
    &__type {
        color: #8C8D8F;
        @include fsz(16px, 16px, 14px);
    }
    &__descr {
        @include fsz(24px, 24px, 18px);
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__text {
        @include fsz(16px, 16px, 14px);
        margin-bottom: 22px;
    }
    &__restrictions {
        @include fsz(16px, 16px, 14px);
        font-weight: 600;
        &--colored {
            color: $hover;
        }
    }
    &__pic {
        @include picture-frame;
        width: fit-content;
        position: relative;
        &--sm {
            position: absolute;
            top: 120px;
            left: -70px;
        }
    }
    &__img {
        height: auto !important;
    }
    &__btn {
        position: absolute;
        transition: 2s;
        bottom: 30px;
        height: 56px;
        width: 210px;
        box-shadow: 4px 7px 21px 3px rgba(0, 0, 0, 0.15);
        &:after {
            background-image: url('./../img/btn-gear.svg');
            background-position: center;
        }
        &:hover,
        &:active {
            &:after {
                transition: 2s;
                transform: rotate(360deg);
                background-position: center;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .promo {
        &__wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
        &__info {
            max-width: 400px;
        }
        &__title {
            font-size: 34px;
        }
        &__content {
            padding-top: 50px;
        }
        &__img {
            max-width: 540px;
        }
        &__pic {
            &--sm {
                left: 45px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .promo {
        &__wrapper {
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
        }
        &__info {
            max-width: 562px;
        }
        &__pic {
            width: 100%;
            &--sm {
                width: 131px;
                bottom: 0;
                left: auto;
                right: 60px;
            }
        }
        &__img {
            width: 100%;
            max-width: none;
            height: 100%;
        }
        &__btn {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 480px) {
    .promo {
        &__title {
            font-size: 24px;
        }
        &__options {
            width: 292px;
        }
        &__pic {
            &--sm {
                top: auto;
                width: 58px;
                height: 125px;
            }
        }
    }
}