.others {
    margin-top: 160px;
    margin-bottom: 100px;
    &__wrapper {
        @include wrapper;
        display: flex;
    }
    &__sidebar {
        margin-right: 80px;
        width: 240px;
    }
    &__content {
        display: flex;
        position: relative;
        flex-basis: content;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $hover;
        margin-bottom: 47px;
    }
    &__category {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 22px;
        &:hover,
        &:active,
        &--active {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: $hover;
            cursor: pointer;
        }
    }
    &__card {
        color: #979696;
        @include picture-frame;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex-basis: 400px;
        width: 400px;
        min-height: 282px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-right: 20px;
        &:hover,
        &:active {
            & .others__type {
                color: #979696;
            }
            & .others__link {
                //font-weight: bold;
                transition: .5s;
            }
            & .others__svg {
                fill: $hover;
                transform: rotate(-45deg);
                transition: .5s;
            }
        }
    }
    &__svg {
        width: 31px;
        height: 18px;
        transition: .5s;
    }
    &__link {
        transition: .5s;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__img {
        margin-left: auto;
    }
    &__more {
        position: absolute;
        background-color: transparent;
        padding-right: 0;
        padding-left: 0;
        width: 167px;
        display: flex;
        justify-content: space-between;
        bottom: -60px;
        right: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .others {
        &__card {
            display: none;
            &:first-child {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .others {
        &__wrapper {
            flex-direction: column;
        }
        &__sidebar {
            margin-right: 0;
            width: 100%;
        }
        &__title {
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
        }
        &__categories {
            display: flex;
            flex-wrap: wrap;
        }
        &__category {
            padding: 3px 7px 6px 7px;
            margin-bottom: 15px;
            &--active {
                background-color: $hover;
                border-radius: 21px;
                color: #fff;
            }
        }
        &__card {
            width: 80vw;
            margin-right: 0;
        }
    }
}