.promo {
    padding-bottom: 100px;
    background-color: $bg;
    &__wrapper--site {
        grid-template-columns: 105px 2fr 3fr;
        grid-template-rows: auto auto;
        grid-row-gap: 0;
    }
    &__category {
        @include section-name;
        margin-bottom: 20px;
    }
    &__name {
        font-weight: 600;
        font-size: 40px;
        line-height: 135%;
        color: $dark-text;
    }
    &__btn {
        margin-top: 20px;
    }
    &__button {
        width: 177px;
        box-shadow: 0px 4px 15px rgba(216, 100, 17, 0.4)
    }
    &__frame {
        @include picture-frame;
        box-shadow: -1px 8px 30px 3px rgba(243, 110, 15, 0.18);
        width: fit-content;
        max-width: 100%;
    }
    &__screenshot {
        max-width: 100%;
        max-height: 100%;
    }
    &__soc--site {
        padding-top: 25px;
    }
}

@media screen and (max-width: 1100px) {
    .promo {
        &__wrapper--site {
            grid-template-columns: 15fr 20fr;
            grid-template-areas: "promo works" "btn works";
        }
        &__works--site {
            margin-right: auto;
            margin-left: auto;
        }
        &__soc {
            display: none;
        }
    }
}

@media screen and (max-width: 610px) {
    .promo {
        &__wrapper--site {
            grid-template-columns: 1fr;
            grid-template-areas: "promo" "works" "btn";
        }
        &__works--site {
            margin-right: auto;
            margin-left: auto;
        }
    }
}