.task {
    &__wrapper {
        @include wrapper;
        display: flex;
        justify-content: space-between;
    }
    &__content {
        flex-basis: 585px;
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $hover;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 144.5%;
    }
    &__list {
        flex-basis: 48%;
    }
    &__item {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        padding-bottom: 10px;
        padding-top: 5px;
        &:after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            width: 270px;
            height: 1px;
            background-color: #ddd;
        }
    }
    &__option {
        color: #858585;
        margin-bottom: 10px;
    }
}