.headline {
    padding-top: 30px;
    padding-bottom: 80px;
    &__wrapper {
        @include wrapper;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        @include fsz(40px);
        color: $hover;
        font-weight: 700;
    }
    &__text {
        max-width: 500px;
        @include fsz(16px);
        font-weight: 500;
    }
}