.spa {
    background: linear-gradient(136.39deg, rgba(245, 247, 250, 0.76) -6.15%, rgba(184, 198, 219, 0.0554167) 85.8%), #F2F2F2;
    padding-top: 25px;
    padding-bottom: 25px;
    &__wrapper {
        @include wrapper;
        display: grid;
        grid-template-columns: 1fr 500px;
        grid-column-gap: 50px;
        grid-template-rows: auto auto;
        grid-template-areas: "title img" "info img";
    }
    &__title {
        grid-area: title;
        @include fsz(24px);
        padding-left: 55px;
        position: relative;
        margin-bottom: 25px;
        &::before {
            content: '';
            position: absolute;
            width: 45px;
            height: 45px;
            background-image: url('./../img/spa-logo.svg');
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 0;
        }
    }
    &__img {
        grid-area: img;
        width: 473px;
        height: 343px;
    }
    &__info {
        grid-area: info;
    }
    &__text {
        max-width: 480px;
        font-weight: 500;
        @include fsz(18px);
    }
    &__subtitle {
        font-weight: bold;
        @include fsz(18px);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__item {
        position: relative;
        padding-left: 38px;
        margin-bottom: 10px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            width: 28px;
            background-color: $hover;
        }
    }
    &__list {
        margin-bottom: 10px;
    }
    &__btn {
        padding-left: 10px;
        padding-right: 10px;
        width: 230px;
        height: 52px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .spa {
        &__wrapper {
            grid-template-columns: 1fr 350px;
            grid-column-gap: 10px;
            grid-template-rows: auto auto;
            grid-template-areas: "title title" "info img";
        }
        &__img {
            width: 350px;
            height: 253px;
        }
    }
}

@media screen and (max-width: 610px) {
    .spa {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-template-rows: auto auto auto;
            grid-template-areas: "title" "img" "info";
        }
        &__img {
            width: 283px;
            height: 203px;
            margin-left: auto;
            margin-right: auto;
        }
        &__title {
            width: 220px;
            margin-left: auto;
            margin-right: auto;
        }
        &__text {
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
        &__subtitle {
            margin-left: auto;
            margin-right: auto;
        }
        &__btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
}