.shield {
    color: #fff;
    background: linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
    &__wrapper {
        @include wrapper;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 90px;
        background-image: url(./../img/acred-trusted.svg);
        background-repeat: no-repeat;
        background-size: auto 90%;
        background-position: 0 center;
    }
    &__title {
        max-width: 550px;
    }
    &__text {
        max-width: 550px;
    }
}

@media screen and (max-width: 991px) {
    .shield {
        text-align: center;
        &__wrapper {
            flex-direction: column;
            width: 100%;
            max-width: none;
            margin-left: 0;
            margin-right: 0;
            align-items: center;
            padding-bottom: 30px;
        }
        &__title {
            margin-bottom: 15px;
        }
    }
}