@import './modules/mixins';
@import './modules/variables';
.calc {
    position: fixed;
    width: 1000px;
    background-color: #fff;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    //border: 16px solid white;
    padding-left: 12px;
    padding-bottom: 12px;
    border-radius: 40px;
    z-index: 9;
    box-shadow: 4px 7px 21px 3px rgba(0, 0, 0, 0.15);
    display: none;
    pointer-events: all;
    &--opened {
        display: block;
        animation: calc ease-in .3s;
        z-index: 3;
    }
    &__overlay {
        background: rgba(25, 26, 30, 0.24);
        pointer-events: none;
        animation: calc ease-in .3s;
        z-index: 2;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        animation: calcOff ease-in .3s;
        &--opened {
            display: block;
            animation: calc ease-in .3s;
            z-index: 3;
        }
    }
    &__headline {
        color: #fff;
        background: linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
        border-radius: 24px 24px 0 0;
        position: relative;
        height: 77px;
        padding-left: 100px;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-left: -12px;
    }
    &__title {
        @include fsz(30px, 22px, 16px);
        line-height: 1;
    }
    &__close {
        position: absolute;
        cursor: pointer;
        right: 30px;
        top: 30px;
        width: 18px;
        height: 18px;
        padding: 0;
        background-image: url(./../img/map-close.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__pair {
        display: flex;
        &--pages {
            margin-top: 40px;
            opacity: 0;
            pointer-events: none;
            transition: .2s;
            position: relative;
            &--active {
                opacity: 1;
                pointer-events: all;
                transition: .2s;
            }
        }
    }
    &__descr {
        max-width: 153px;
        @include fsz(16px, 14px, 14px);
        margin-right: 24px;
        &--price {
            max-width: 228px;
        }
    }
    &__headers {
        display: flex;
        border: 1px solid #BDCEFA;
        box-sizing: border-box;
        border-radius: 42px;
        @include fsz(16px, 14px, 14px);
        font-weight: 500;
        padding: 13px 17px 12px 17px;
        margin-bottom: 37px;
    }
    &__header {
        cursor: pointer;
        margin-right: 20px;
        &--active {
            color: $hover;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__content {
        &--switch {
            height: 176px;
            position: relative;
        }
    }
    &__list {
        position: absolute;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
        display: flex;
        height: 176px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        &--test {
            height: 220px;
        }
        &--opened {
            z-index: 1;
            opacity: 1;
            pointer-events: all;
            transition: .3s;
        }
    }
    &__item {
        margin-bottom: 20px;
        margin-right: 50px;
        @include fsz(16px, 14px, 14px);
        font-weight: 500;
        cursor: pointer;
        min-width: 355px;
        &--active {
            color: $hover;
        }
    }
    &__pages {
        display: flex;
        width: 100%;
        max-width: 663px;
        justify-content: space-between;
        align-items: flex-end;
        height: 49px;
        position: relative;
        margin-top: 10px;
    }
    &__bottom {
        display: flex;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 50px;
    }
    &__price {
        @include fsz(30px, 25px, 25px);
        font-weight: 700;
        width: 200px;
        text-align: center;
    }
    &__btn {
        height: 52px;
        width: 202px;
        box-shadow: 0px 4px 15px rgba(216, 100, 17, 0.4);
        margin-left: 212px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__tip {
        position: absolute;
        bottom: -35px;
        font-size: 18px;
        font-weight: 600;
        color: $hover;
    }
}

@media screen and (max-width: 991px) {
    .calc {
        font-size: 14px;
        max-width: 660px;
        &__headline {
            padding-left: 28px;
            height: 67px;
        }
        &__close {
            top: 25px;
            right: 25px;
        }
        &__headers {
            padding: 14px 11px;
        }
        &__descr {
            max-width: 135px;
            &--price {
                max-width: 196px;
            }
        }
        &__btn {
            flex-shrink: 0;
            margin-left: auto;
        }
        &__item {
            min-width: 245px;
        }
        &__list {
            flex-wrap: nowrap;
        }
        &__pages {
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 610px) {
    .calc {
        position: absolute;
        //height: 910px;
        max-width: 270px;
        margin-bottom: 50px;
        &__overlay {
            overflow-y: scroll;
            height: 100vh;
            position: absolute;
        }
        &__headline {
            padding-left: 21px;
            height: 75px;
        }
        &__title {
            width: 175px;
        }
        &__pair {
            flex-direction: column;
            align-items: center;
            &--pages {
                height: 0;
                transition: .3s;
                margin-top: 20px;
                &--active {
                    height: 55px;
                    transition: .3s;
                }
            }
        }
        &__descr {
            max-width: none;
            margin-right: 0;
            margin-bottom: 10px;
            text-align: center;
        }
        &__headers {
            flex-direction: column;
            align-items: center;
            border-radius: 16px;
            margin-bottom: 10px;
        }
        &__header {
            margin-right: 0;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__content {
            &--switch {
                height: 100px;
                width: 100%;
            }
        }
        &__item {
            margin-bottom: 10px;
            min-width: auto;
            max-width: 228px;
            text-align: center;
            margin-right: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__list {
            height: 230px;
            width: 100%;
            align-items: center;
        }
        &__pages {
            flex-direction: column;
            align-items: center;
            height: auto;
            position: relative;
            max-width: 210px;
            &:before {
                display: none;
            }
        }
        &__page {
            position: relative;
            z-index: 2;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 17px;
                z-index: 1;
                height: 1px;
                width: 127px;
                background-color: #979696;
            }
        }
        &__bottom {
            flex-direction: column;
            align-items: center;
            padding-bottom: 0;
            padding-top: 50px;
        }
        &__btn {
            margin-left: 0;
            margin-top: 10px;
        }
        &__tip {
            font-size: 12px;
        }
    }
}

@keyframes calc {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes calcOff {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.noUi-horizontal {
    height: 9px;
    border: 0.5px solid #E8975B;
    border-radius: 5px;
}

.noUi-connect {
    background: linear-gradient(181.32deg, #F36E0F 1.7%, rgba(251, 251, 251, 0.36) 302.63%), #F2F2F2;
    height: 9px;
    z-index: 100;
    border-radius: 5px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid $hover;
    border-radius: 10px;
    box-shadow: none;
    left: auto;
    top: -6px;
    right: -8px;
    &:focus {
        outline: none;
    }
}

.noUi-handle::before,
.noUi-handle::after {
    display: none;
}