@import './modules/mixins';
@import './modules/variables';
.calc {
    position: absolute;
    width: 1000px;
    background-color: #fff;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    border: 16px solid white;
    border-radius: 40px;
    z-index: 9;
    box-shadow: 4px 7px 21px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    &__headline {
        color: #fff;
        background: linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
        border-radius: 24px 24px 0 0;
        position: relative;
        height: 77px;
        padding-left: 100px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    &__title {
        @include fsz(30px, 22px, 16px);
        line-height: 1;
    }
    &__close {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 18px;
        height: 18px;
        padding: 0;
        background-image: url(./../img/map-close.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__pair {
        display: flex;
        &--pages {
            margin-top: 40px;
            opacity: 0;
            pointer-events: none;
            transition: .2s;
            &--active {
                opacity: 1;
                pointer-events: all;
                transition: .2s;
            }
        }
    }
    &__descr {
        max-width: 153px;
        @include fsz(16px, 14px, 14px);
        margin-right: 24px;
        &--price {
            max-width: 228px;
        }
    }
    &__headers {
        display: flex;
        border: 1px solid #BDCEFA;
        box-sizing: border-box;
        border-radius: 42px;
        @include fsz(16px, 14px, 14px);
        font-weight: 500;
        padding: 13px 17px 12px 17px;
        margin-bottom: 37px;
    }
    &__header {
        cursor: pointer;
        margin-right: 20px;
        &--active {
            color: $hover;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__content {
        &--switch {
            height: 176px;
            position: relative;
        }
    }
    &__list {
        position: absolute;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
        display: flex;
        height: 176px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        &--test {
            height: 220px;
        }
        &--opened {
            z-index: 1;
            opacity: 1;
            pointer-events: all;
            transition: .3s;
        }
    }
    &__item {
        margin-bottom: 20px;
        margin-right: 50px;
        @include fsz(16px, 14px, 14px);
        font-weight: 500;
        cursor: pointer;
        min-width: 355px;
        &--active {
            color: $hover;
        }
    }
    &__pages {
        display: flex;
        width: 100%;
        max-width: 663px;
        justify-content: space-between;
        align-items: flex-end;
        height: 49px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: #979696;
            left: 0;
            top: 17px;
            z-index: 1;
        }
    }
    &__page {
        cursor: pointer;
        font-weight: 600;
        @include fsz(16px, 14px, 14px);
        color: #979696;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 9px;
        height: 100%;
        &:before {
            display: block;
            content: '';
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #979696;
            flex-shrink: 0;
            z-index: 2;
        }
        &--active {
            color: $hover;
            &:before {
                background-color: $hover;
            }
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 50px;
    }
    &__price {
        @include fsz(30px, 25px, 25px);
        font-weight: 700;
    }
    &__btn {
        height: 52px;
        width: 202px;
        box-shadow: 0px 4px 15px rgba(216, 100, 17, 0.4);
        margin-left: 212px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 991px) {
    .calc {
        font-size: 14px;
        max-width: 660px;
        &__headline {
            padding-left: 28px;
            height: 67px;
        }
        &__close {
            top: 25px;
            right: 25px;
        }
        &__headers {
            padding: 14px 11px;
        }
        &__descr {
            max-width: 135px;
            &--price {
                max-width: 196px;
            }
        }
        &__btn {
            flex-shrink: 0;
            margin-left: auto;
        }
        &__item {
            min-width: 245px;
        }
    }
}

@media screen and (max-width: 610px) {
    .calc {
        max-width: 270px;
        &__headline {
            padding-left: 21px;
            height: 75px;
        }
        &__title {
            width: 175px;
        }
        &__pair {
            flex-direction: column;
            align-items: center;
            &--pages {
                height: 0;
                transition: .3s;
                &--active {
                    height: 311px;
                    transition: .3s;
                }
            }
        }
        &__descr {
            max-width: none;
            margin-right: 0;
            margin-bottom: 10px;
            text-align: center;
        }
        &__headers {
            flex-direction: column;
            align-items: center;
            border-radius: 16px;
        }
        &__header {
            margin-right: 0;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__content {
            &--switch {
                height: 230px;
                width: 100%;
            }
        }
        &__item {
            margin-bottom: 10px;
            min-width: auto;
            max-width: 228px;
            text-align: center;
            margin-right: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__list {
            height: 230px;
            width: 100%;
            align-items: center;
        }
        &__pages {
            flex-direction: column;
            align-items: center;
            height: auto;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            &:before {
                display: none;
            }
        }
        &__page {
            position: relative;
            z-index: 2;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 17px;
                z-index: 1;
                height: 1px;
                width: 127px;
                background-color: #979696;
            }
        }
        &__bottom {
            flex-direction: column;
            align-items: center;
            padding-bottom: 0;
        }
        &__btn {
            margin-left: 0;
            margin-top: 10px;
        }
    }
}