@import "./base.scss";
//^common style
.error {
    background: linear-gradient(93.05deg, rgba(39, 64, 96, 0.8) 0%, rgba(27, 40, 69, 0) 100%), #152238;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    &__numbers {
        display: flex;
        margin-bottom: 100px;
        margin-top: 250px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 30px;
        text-align: center;
    }
    &__circle {
        background: url('./../img/error1.svg') -27px 228px, linear-gradient(141.69deg, #09203F 1.7%, rgba(83, 120, 149, 0.44) 245.05%), #FFFFFF;
        box-shadow: 0px 15px 200px rgba(243, 110, 15, 0.24), 0px 29px 98.0759px rgba(255, 255, 255, 0.38), 0px 17.8919px 50.0314px rgba(255, 255, 255, 0.205812), 0px 11px 23.426px rgba(255, 255, 255, 0.177685), 0px -0.229651px 8.18008px rgba(255, 255, 255, 0.0807773);
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }
    &__btn {
        width: 270px;
        height: 56px;
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        &:after {
            transition: .3s;
            background-color: #fff;
            background-image: url('./../img/error-arrow.svg');
        }
        &:hover {
            color: #eee;
            &:after {
                transition: .3s;
                background-position: right;
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    display: none;
}

@media screen and (max-width: 480px) {
    .error {
        &__numbers {
            margin-top: 100px;
            margin-bottom: 70px;
            transform: scale(0.5);
        }
    }
}