.pretender {
    position: relative;
    margin-bottom: 25px;

    &:before {
        z-index: 0;
        position: absolute;
        content: "";
        left: 0;
        width: 50vw;
        height: 100%;
    }
    &:after {
        z-index: 0;
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 50vw;
        height: 100%;
    }
    &--altai {
        &:before {
            background-image: url("./../img/altai-bg.svg");
            background-repeat: no-repeat;
            background-position: left 50px;
        }
        &:after {
            background-color: rgba(94, 155, 49, 0.22);
        }
    }
    &--mfc {
        //min-height: 450px !important;
        &:before {
            background-color: #f1e7df;
        }
        &:after {
            background-color: #f1614c;
        }
        & .tenders__wrapper {
            //min-height: 450px;
        }
    }
    &--omsk {
        &:before {
            background-color: #eff3f6;
        }
        &:after {
            background-color: #5dadf6;
        }
    }

    &--page {
        min-height: 390px;
        & .pretender__right {
            min-height: 390px;
            & .pretender__img {
                bottom: 40px;
                left: -70px;
                &--small {
                    bottom: 70px;
                    left: 230px;
                }
            }
        }
    }

    & > div {
        display: flex;
        position: relative;
        z-index: 1;
        height: 100%;
    }
    &__left {
        flex-basis: 50%;
        padding-top: 20px;
        height: 100%;
    }
    &__right {
        flex-basis: 50%;
        position: relative;
    }
    &__logo {
        margin-bottom: 20px;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;
        &--altai {
            color: #33937a;
        }
        &--mfc {
            color: #e84b37;
        }
        &--omsk {
            margin-top: 20px;
            color: #5dadf6;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 1.3;
        letter-spacing: -0.025em;
        max-width: 440px;
        &--altai {
            color: #006248;
        }
        &--mfc {
            color: #663a2a;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & img {
                margin-right: 20px;
            }
        }
        &--altai {
            color: #006248;
            max-width: 550px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & img {
                margin-right: 20px;
            }
        }
    }

    &__text {
        margin-top: 20px;
        margin-bottom: 33px;
        max-width: 360px;
    }

    &__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding-right: 50px;
        width: fit-content;
        margin-bottom: 15px;
        background-repeat: no-repeat;
        background-position: right center;
        &:hover {
            opacity: 0.8;
        }
        &--altai {
            color: #006248;
            background-image: url("./../img/altai-arrow.svg");
            &:hover {
                color: #006248;
            }
        }
        &--mfc {
            color: #663a2a;
            background-image: url("./../img/mfc-arrow.svg");
            &:hover {
                color: #663a2a;
            }
        }
        &--omsk {
            color: #5dadf6;
            background-image: url("./../img/omsk-arrow.svg");
            &:hover {
                color: #5dadf6;
            }
        }
    }
    &__img {
        position: absolute;
        left: -120px;
        bottom: -20px;
        border-radius: 10px;
        box-shadow: 4px 7px 24px 1px rgba(0, 0, 0, 0.13);
        max-width: 490px;
        max-height: 300px;

        &--small {
            left: 290px;
            max-width: 310px;
            max-height: 225px;
            bottom: 12px;
            box-shadow: none;
            opacity: 0.8;
        }
    }

    &__flex {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        max-width: 550px;
    }

    &__item {
        max-width: 185px;
    }

    &__name {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.025em;
        color: #5dadf6;
        margin-bottom: 15px;
        &--mfc {
            color: #E84B37;
        }
        &--altai {
            color: #33937A;
        }
    }

    &__descr {
        font-weight: 500;
        display: flex;
        font-size: 14px;
    }

    &__icon {
        margin-right: 7px;
    }
}

.colors {
    padding-bottom: 45px;
    & > div {
        display: flex;
    }
    &__list {
        display: flex;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    &__text {
        max-width: 470px;
        margin-top: 20px;
        font-weight: 500;
    }
    &__left {
        & p {
            max-width: 470px;
            margin-top: 20px;
            font-weight: 500;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
    &__fonts {
        display: flex;
        & li {
            margin-right: 75px;
        }
    }

    &__item {
        position: relative;
        height: 95px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
        font-size: 16px;
        font-weight: 600;
        &:before {
            content: '';
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        &--omsk {
            &1 {
                &:before {
                    background-color: #5DADF6;
                }
            }
            &2 {
                &:before {
                    background: #EFF3F6;
                    border: 1px solid #C4C4C4;
                }
            }
            &3 {
                &:before {
                    background: #FFFFFF;
                    border: 1px solid #C4C4C4;
                }
            }
        }
        &--mfc {
            &1{
                &:before {
                    background: #2C2A29;
                }
            }
            &2{
                &:before {
                    background: #663A2A;
                }
            }
            &3{
                &:before {
                    background: #C39367;
                }
            }
            &4{
                &:before {
                    background: #E84B37;
                }
            }
            &5{
                &:before {
                    background: #FFFFFF;
                    border: 1px solid #C4C4C4;  
                }
            }
        }
        &--altai{
            &1{
                &:before {
                    width: 100px;
                    height: 62px;
                    border-radius: 0;
                    background: #006248;
                }
            }
            &2{
                &:before {
                    width: 100px;
                    height: 62px;
                    border-radius: 0;
                    background: #5A9D32;
                }
            }
            &3{
                &:before {
                    width: 100px;
                    height: 62px;
                    border-radius: 0;
                    background: #FFFFFF;
                    border: 1px solid #C4C4C4;
                }
            }
        }
    }
}

.problem {
    padding-top: 30px;
    background: #EFF3F6;
    padding-bottom: 60px;
    &--mfc {
        background: #F1E7DF;
    }
    & > div {
        display: flex;
    }
    &__text {
        font-weight: 500;
        max-width: 670px;
    }
    &__left {
        padding-top: 0;
    }
}

.resp {
    padding-top: 50px;
    padding-bottom: 100px;
    &__title {
        max-width: 460px;
    }
    &__pics {
        margin-top: 50px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &__frame {
        padding: 8px;
        background: #D9D9D9;
        width: fit-content;
        height: fit-content;
        box-sizing: content-box;
        border-radius: 22px;
        box-shadow: 40px 27px 80px rgba(95, 95, 95, 0.2), inset -2px -10px 20px rgba(0, 0, 0, 0.25), inset 10px 2px 20px #FFFFFF;
        &--lg {
            padding: 15px;
        }
    }
}

.result {
    padding-top: 50px;
    
    background: #DAEBF9;
    
    overflow: hidden;
    & > div {
       position: relative; 
       padding-bottom: 600px;
    }
    &--mfc {
        background: #F1614C;
        color: #fff;
        & > div {
            position: relative; 
            padding-bottom: 140px;
         }
    }
    &--altai {
        color: #fff;
        background: #185C4A;
    }
    &__text {
        max-width: 620px;
        margin-top: 30px;
        &--altai {
            max-width: 400px;
        }
    }
    &__img {
        position: absolute;
        box-shadow: -13px -9px 99px rgba(95, 95, 95, 0.2);
        &--1 {
            bottom: -200px;
            left: 50px;
            opacity: 0.8;
        }
        &--2 {
            bottom: -250px;
            right: 0;
        }
        &--mfc1 {
            left: calc(50% + 200px); 
            top: 0;
        }
        &--mfc2 {
            left: 50%;
            top: 20px;
        }
        &--altai1 {
            bottom: -10px;
            left: 50px;
        }
        &--altai2 {
            bottom: -320px;
            left: 50%;
        }
    }
}

.repeat {
    padding-top: 35px;
    padding-bottom: 30px;
    & > div {
        display: flex;
    }
    &__pair {
        min-width: 300px;
        font-weight: 600;
    }
    &__name {
        color: #858585;
    }
    &__descr {
        color: #191A1E;
        &:hover {
            color: #191A1E;
        }
    }
}

.title-other-tenders {
    font-size: 24px;
    margin-bottom: 35px;
    color: #333;
}

.partners {
    padding-top: 50px;
    padding-bottom: 20px;
    & > div {
        display: flex;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 360px;
    }
    &__item {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

.start {
    position: relative;
    color: #fff;
    background: #185C4A;
    padding-top: 30px;
    min-height: 580px;
    overflow: hidden;
    &__title {
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
    }

    &__text {
        margin-bottom: 20px;
        max-width: 460px;
        position: relative;
        z-index: 2;
    }
    &__img {
        position: absolute;
        z-index: 1;

        &--1 {
            top: -305px;
            left: 39vw;
        }
        &--2 {
            top: 0;
            right: 40px;
        }
        &--3 {
            top: 370px;
            left: 39vw;
        }
    }
}

.altai404 {
    background: #185C4A;
    position: relative;
    min-height: 370px;
    margin-bottom: 50px;
    &__title {
        max-width: 1304px;
        margin: 0 auto;
        height: 37px;
    }
    &__text {
        padding-top: 20px;
        max-width: 375px;
        font-weight: 500;
        font-size: 16px;
        line-height: 153.4%;
        letter-spacing: -0.025em;
        color: #FFFFFF;
    }
    &__img {
        position: absolute;
        left: 50%;
        top: -37px;
        box-shadow: 7px 27px 77px rgba(170, 170, 170, 0.24);
    }
}






//

@import './pretender-media.scss';