@media screen and (max-width: 1500px) {
    main {
        overflow: hidden;
        max-width: 100vw;
    }
    .start {
        &__img {
            max-width: 400px;
            &--1 {
                top: -230px;
            }
            &--2 {
                left: calc(32vw + 552px);
            }
            &--3 {
                top: 330px;
            }
        }
    }
    .altai404 {
        &__img {
            left: 40%;
        }
    }
}

@media screen and (max-width: 1439px) {
    .altai404 {
        &__title {
            max-width: 1124px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .pretender {
        overflow: hidden;
        &__title {
            &--altai {
                max-width: 380px;
            }
        }
        &__flex {
            flex-wrap: wrap;
            max-width: 400px;
        }
        &__item {
            max-width: none;
            &:nth-child(1) {
                flex-basis: 50%;
                order: 1;
            }
            &:nth-child(2) {
                flex-basis: 100%;
                order: 3;
                margin-top: 20px;
            }
            &:nth-child(3) {
                flex-basis: 50%;
                order: 2;
            }
        }
    }
    .altai404 {
        overflow: hidden;
        &__title {
           max-width: 1004px;
        }
    }
    .start {
        &__img {
            max-width: 400px;
            &--1 {
                top: -165px;
                left: calc(10vw + 470px);
            }
            &--2 {
                left: calc(10vw + 470px);
                top: 410px;
            }
            &--3 {
                top: 270px;
                left: 10vw;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .pretender {
        &:before {
            width: 60vw;
        }
        &:after {
            width: 40vw;
        }
        &__left {
            flex-basis: 60%;
        }
        &__right {
            flex-basis: 40%;
        }
        &__title {
            max-width: 360px;
            &--altai {
                position: absolute;
                max-width: 588px;
            }
        }
        &__img {
            max-width: 300px;
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
            left: -55px;
            &--small {
                max-width: 205px;
                left: 200px;
            }
        }
        &--page {
            & .pretender__right {
                & .pretender__img {
                    bottom: 40px;
                    left: -70px;
                    &--small {
                        bottom: 70px;
                        left: 105px;
                    }
                }
            }
        }
        &__descr {
            max-width: 300px;
        }
    }
    .colors {
        & > div {
            flex-direction: column;
        }
        &__left {
            flex-basis: 100%;
            & p {
                max-width: none;
            }
        }
        &__list {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__img {
            margin-left: auto;
            margin-right: auto;
            max-width: 200px;
            display: block;
        }
    }
    .problem {
        & > div {
            flex-direction: column;
            align-items: center;
        }
        &__title {
            margin-bottom: 20px;
        }
    }
    .resp {
        &__title {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        &__pics {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__frame {
            &:first-child {
                margin-right: 50px;
            }
            &:last-child {
                margin-top: 40px;
            }
        }
    }
    .result {
        &__img {
            position: static;
            max-width: 630px;
            margin-top: 20px;
        }
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 0;
            text-align: center;
        }
    }
    .partners {
        & .pretender__left {
            padding-top: 0;
        }
    }
    .altai404 {
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 410px;
        padding-bottom: 15px;
        align-items: flex-start;
        text-align: center;
        &__title {
            text-align: center;
            margin-bottom: 40px;
        }
        &__img {
            max-width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .repeat {
        &__pair {
            min-width: 150px;
            margin-right: 0;
        }
        & > div {
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 760px) {
    .pretender {
        & > div {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        &:before {
            width: 100vw;
        }
        &:after {
            width: 100vw;
            height: 300px;
            top: auto;
            bottom: 0;
        }
        &__left {
            //flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
        }
        &__right {
            width: 100%;
            flex-basis: 300px;
        }
        &__title {
            font-size: 18px;
            flex-direction: column;
            align-items: center;
            &--mfc {
                & img {
                    max-width: 110px;

                }
            }
            & img {
                margin-right: 0;
                margin-bottom: 10px;
            }
            &--altai {
                position: relative;
            }
        }
        &__img {
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            &--small {
                top: 65px;
            }
        }
        &__link {
            position: absolute;
            bottom: 20px;
            &--mfc,
            &--omsk,
            &--mfc:hover,
            &--omsk:hover {
                color: white;
                background-image: url("./../img/arrow-white.svg");
            }
        }
        &--page {
            & .pretender__right {
                min-height: 335px;
                & .pretender__img {
                    bottom: auto;
                    left: 50%;
                    top: 14px;
                    transform: translateX(-50%);
                    &--small {
                        bottom: auto;
                        top: 124px;
                        left: 50%;
                    }
                }
            }
        }
        &__flex {
            margin-top: 30px;
        }
        &__item {
            flex-basis: 100% !important;
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__name {
            margin-bottom: 10px;
        }
        &__descr {
            text-align: center;
            display: flex;
            justify-content: center;
            margin-right: 0;
            & span {
                max-width: 95px;
                text-align: left;
            }
        }
    }

    .colors {
        &__right {
            flex-basis: auto;
        }
        &__fonts {
            &--altai {
                flex-direction: column;
                align-items: center;
                & li {
                    margin-right: 0;
                    transform: scale(1);
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
            & li {
                margin-right: 5px;
                transform: scale(.8);
            }
        }
        &__item {
            &--altai3 {
                    margin-top: 15px;
            }
        }
    }

    .problem {
        &__right {
            flex-basis: auto;
        }
    }

    .resp {
        &__pics {
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }
        &__frame {
            margin-top: 50px;
            & img {
                max-width: 165px;
            }
            &:first-child {
                margin-right: 0;
            }
            &:last-child {
                margin-top: 50px;
                & img {
                    max-width: 265px;
                }
            }
        }
    }
    .result {
        & img {
            max-width: 290px;
            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
    .repeat {
        & > div {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__pair {
            margin-bottom: 20px;
        }
    }
    .title-other-tenders {
        text-align: center;
    }
    .partners {
        padding-top: 0;
        & > div {
            flex-direction: column;
        }
        &__list {
            width: 100%;
        }
        &__item {
            flex-basis: 50%;
            transform: scale(0.7);
            max-width: 135px;
        }
        & .pretender__right {
            flex-basis: auto;
        }
        
    }
    .altai404 {
        min-height: 250px;
        margin-bottom: 0;
    }
    .start {
        text-align: center;
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 12px;
            max-width: 312px;
            margin-left: auto;
            margin-right: auto;
        }
        &__img {
            max-width: 230px;
            transform: rotate(30deg);
            &--1 {
                left: auto;
                right: -139px;
                top: 108px;
            }
            &--2 {
                left: -40px;
                top: 190px;
            }
            &--3 {
                left: auto;
                right: 26px;
                top: 397px;
            }
        }
    }
}

@media screen and (max-width: 424px) {
    .start {
        &__img {
            &--1 {
                right: -139px;
                top: 108px;
            }
            &--2 {
                left: -70px;
                top: 166px;
            }
            &--3 {
                right: 26px;
                top: 397px;
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .start {
        &__img {
            &--1 {
                right: -159px;
                top: 108px;
            }
            &--2 {
                left: -121px;
                top: 166px;
            }
            &--3 {
                right: 13px;
                top: 409px;
            }
        }
    }
}
