.slider {
    padding-top: 30px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        max-width: 680px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__include {
        margin-bottom: 20px;
    }
    &__under {
        position: absolute;
        width: 220px;
        transition: .5s;
        height: 2px;
        background-color: $hover;
        z-index: 1;
        bottom: -13px;
        left: 55px;
    }
    &__headers {
        display: flex;
        justify-content: space-between;
        width: 759px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 670px;
            background-color: #A9AAAB;
            left: 46px;
            bottom: -13px;
            z-index: 0;
        }
    }
    &__header {
        position: relative;
        color: #C4C4C4;
        transition: .5s;
        font-weight: 600;
        cursor: pointer;
        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #C4C4C4;
            border: 5px solid #ececec;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            transition: .5s;
        }
        &--active,
        &:hover {
            color: $dark-text;
            transition: .5s;
            &:after {
                transition: .5s;
                background-color: $hover;
                border: 5px solid #FFCBA6;
            }
        }
    }
    &__list {
        width: 760px;
        height: 473px;
        margin-top: 50px;
    }
    &__slide {
        display: none;
        &--active {
            display: block;
        }
    }
    &__name {
        display: none;
    }
    &__subname {
        color: $hover;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 600;
        max-width: 400px;
        margin-bottom: 20px;
    }
    &__btn {
        margin-top: 20px;
        box-shadow: 0px 4px 15px rgba(216, 100, 17, 0.4);
        width: 218px;
        height: 52px;
    }
}